table{
 padding-left: 250px;
 padding-right: 180px;
}
th{
    padding-right: 80px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    padding-left: 555px;
    color:rgb(1, 1, 82);
}
img{
    border: 5px solid black;
}
a{
    float:right;
}
p{
    padding-left: 600px;
    color:crimson;
}
#fot{
    background:darkgray;
}