html {
  font-size: 100%;
  }

  h1 {
    font-size: 30px;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    color: white;
  }
  p {
    font-size: 1.5rem;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .nav-container {
      background: #070707;
  }

  nav {
      width: 80%;
      margin: auto;
      min-height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }

  nav #logo {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2;
      position: relative;
  }

  nav #logo::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 135px;
      height: 55px;
      background: #a7a7a7;
      border-radius: 11%;
      -webkit-transform: translate(-5%, -12%);
              transform: translate(-5%, -12%);
      mix-blend-mode: screen;
  }

  body{
    background: radial-gradient(#525252, #131313);
  }
  
  .container{
    margin: auto;
    background-color: white;
    width: 1200px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 1200px;
    height: 700px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:black;
  }
  
  ul.slider li img{
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
    padding-top: 40px;
  }
  
  .menu li{
    display:ruby-text;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }